<% include ./partials/header %>

<body>
    <div class="container-fluid background padding-20">
      <div class="full-height container-fluid padding-20 is-rounded is-white">
          <div class="header clearfix">
            <% include ./partials/navbars/loggedin %> 
          </div>
          <div class="spacer"></div>
          <div class="container-fluid gallery ">
              <h2 class="page-header">My Images</h2>
            <div class="grid">
              <div class="grid-sizer"></div>
              <% for (var i=0; i < user.images.length; i++) {%>
                <div class="grid-item">
                  <img src="./uploads/<%= user._id %>/<%= user.images[i] %>" />
                  <div class="grid-item-label"><%= user.images[i] %></div>
                </div>
                <div class="grid-item">
                  <img src="./uploads/<%= user._id %>/conv-<%= user.images[i] %>" />
                  <div class="grid-item-label"><%= user.images[i] %></div>
                </div>
                <div class="grid-item">
                  <img src="./uploads/<%= user._id %>/hist-<%= user.images[i] %>" />
                  <div class="grid-item-label"><%= user.images[i] %></div>
                </div>
              <% } %>
              </div>
          </div>
        </div>
      </div>
    </div>
      
  </body>